
<div class="container d-flex justify-content-center shadow font">
  <div class="row  text-center">
    <div class="col-12 col-md-12 col-lg-12 pt-3 align-self-center">
      <% @records.each do |post| %>
        <div class="border-bottom border-secondary">
          <%= link_to post_path(post) do %>
            <%= image_tag post.get_image(350, 350), class: "rounded border border-secondary border-5", alt: "20" %>
          <% end %><br>
          <%= image_tag post.user.get_profile_image(60,100), class: "mt-1 rounded-circle" %>
          <%= post.user.username %> 
          <br>
          <%= link_to post_path(post.id) do %>
            <strong><%= post.title %></strong>
          <% end %> :
          <%= post.body %>
          <br><br>
        </div>
       <br>
      <% end %>
      <div class="d-flex justify-content-center w-100">
        <%= paginate @records, theme: 'bootstrap-5' %>
      </div>
    </div> 
  </div>
</div>



