
<div id="error">
  <% if @post.errors.any? %>
  <h3><%= @post.errors.count %> errors prohibited this obj from being saved:</h3>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="p-2 m-3">
  <div class="container pt-3 font">
    <div class="d-flex justify-content-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-start">
        <h3 class="text-left mb-3">画像投稿フォーム</h3>
        <%= form_with model: @post, url: '/posts', method: :post, local: true do |f| %>
          <table class="table">
            <tr>
              <th>画像</th>
              <td>
                <div class="field">
                  <%= f.label :images, "画像を選択してください。（複数投稿可）" %><br>
                  <%= f.file_field :images, multiple: true, accept: "image/*"%>
                </div>
              </td>
            </tr>
            <tr>
              <th>タイトル</th>
              <td><%= f.text_field :title %></td>
            </tr>
            <tr>
              <th>説明</th>
              <td><%= f.text_area :body, rows: 3, cols: 40  %></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <%= f.submit '投稿', class: 'btn btn-sm btn-outline-info' %>
                <%= link_to 'Back', posts_path(@post.id), class: 'btn btn-sm btn-outline-secondary' %>
              </td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>