<div id="error">
  <% if @post.errors.any? %>
  <h3><%= @post.errors.count %> errors prohibited this obj from being saved:</h3>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="p-2 m-3">
   <div class="container font">
    <div class="row">
      <div class="d-none d-lg-block d-xl-block col-lg-3">
        <br>何か表示したい
      </div>

      <div class="col-6 col-none-12 col-sm-12 col-md-12 col-lg-6">
       <br><h3>画像投稿フォーム</h3>
          <%= form_with model: @post, url:'/posts', method: :post do |f| %>
            <table class="table">
              <tr>
                <th>画像</th>
                <br>
                <td><%= f.file_field :image, accept: "image/*" %></td>
              </tr>
              <tr>
                <th>タイトル</th>
                <td><%= f.text_field :title %></td>
              </tr>
              <tr>
                <th>説明</th>
                <td><%= f.text_area :body %></td>
              </tr>
              <tr>
                <td> </td>
                <td><%= f.submit '投稿' %>   <%= link_to "Back", posts_path(@post.id) %></td>
              </tr>
           </table> 
         <% end %>
      </div>
    </div>
   </div>
  </div>
</div>

