<div class="p-2 mb-3 rounded-pill shadow" style="background-color: #f1f1f1; border: 1px solid #d3d3d3;">
  <%= form_with url: search_path, method: :get, local: true, class: "d-flex align-items-center" do |f| %>

    <!-- 検索窓 -->
    <%= f.text_field :content, placeholder: "Search...", 
      class: "form-control me-2 mr-2", 
      style: "border-radius: 30px; flex: 7;" %>

    <!-- ユーザー選択 -->
    <%= f.select :model, options_for_select({"User" => "user", "Title or Caption" => "post"}), {}, 
      class: "form-select me-2 mr-2", 
      style: "border-radius: 30px; flex: 1;" %>

    <!-- モデル選択 -->
    <%= f.select :method, options_for_select({"完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial"}), {}, 
      class: "form-select me-2 mr-2", 
      style: "border-radius: 30px; flex: 1;" %>

    <!-- 検索ボタン -->
    <%= f.submit "検索", class: "btn btn-outline-secondary", style: "border-radius: 20px;" %>

  <% end %>
</div>
