<!-- ユーザーの詳細 -->

<div>
  <h3><%= @users.username %></h3>
  <%= image_tag @users.get_profile_image(100,100) %>
  <% if @users == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@users) %></p>
  <% end %>
</div>



<!-- ユーザーの投稿一覧 -->

<% @posts.each do |post| %>
<div>

  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image %>
  <% end %>

  <p>投稿ユーザー画像：<%= image_tag post.users.get_profile_image(100,100) %></p>

  <p>タイトル：<%= post.title %></p>

  <p>説明：<%= post.body %></p>

  <p>ユーザーネーム：<%= post.users.username %></p>

</div>
<% end %>