<div id="error">
<% if @post.errors.any? %>
<h3><%= @post.errors.count %> errors prohibited this obj from being saved:</h3>
<ul>
  <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<br>
<h1>投稿内容編集</h1>

<%= form_with model: @post do |f| %>
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>

  <h4>タイトル</h4>
  <%= f.text_field :title %>

  <h4>説明</h4>
  <%= f.text_area :body %>

  <%= f.submit '更新' %>

  <%= link_to "Back", post_path(@post.id) %>

<% end %>


