<h1>投稿一覧</h1>

<% @posts.each do |post| %>
  <div>
  <%= link_to post_path(post) do %>
    <%= image_tag post.get_image(400, 400) %>
  <% end %>

  <p>投稿ユーザー画像：<%= image_tag post.user.get_profile_image(100,100) %></p>

  <p><%= link_to post_path(post.id) do %>
     詳細：<%= post.title %>
    <% end %></p>

    <p>説明：<%= post.body %></p>
  
  </div>
    ユーザーネーム：<%= post.user.username %>



<% end %>


