<br>
<%= link_to new_post_path, class: 'dropdown-item nav-link text-black'  do %>
  <i class="fa-solid fa-pen-to-square"></i> 投稿フォーム
<% end %>
<%= render "searches/form" %>
<%= link_to "Back", posts_path %>
<br><br>

<div>
  <%= link_to user_path(@user) do %>
    ユーザーネーム：<%= @post.user.username %>
  <% end %>

  <p>投稿ユーザー画像：<%= image_tag @post.user.get_profile_image(100,100) %></p>
  <p><%= image_tag @post.get_image(400,400) %></p>
  <p>タイトル:<%= @post.title %></p>
  <p>本文:<%= @post.body %></p>
  <p>投稿日:<%= @post.created_at.strftime('%Y/%m/%d') %></p>

  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <%= link_to "編集", edit_post_path(@post.id) %>
  <% end %>
</div>


