<!DOCTYPE html>
<html>
  <head>
    <title>IlisPort</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
            <!-- サインインしていない場合のリンク --> 
            <!-- ユーザー用ログインリンク --> 
              <li>
                <%= link_to "Home", root_path %>
              </li>
              <li>
                <%= link_to "About", about_path %>
              </li>
              <li>
                <%= link_to "ログイン", new_user_session_path %>
              </li>
              <li>
                <%= link_to "新規登録", new_user_registration_path %>
              </li>
        </ul>
      </nav>
    </header>

    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %><br><br>

    <footer>
      <div>
        <%= link_to "管理者専用", new_admin_session_path %><br>
        <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %>
      </div>

      <!--ログインしてるユーザーが管理者の場合のみ-->
      <% if current_user.try(:admin?) %>
        <%= link_to '管理者ログイン', rails_admin_path %>
      <% end %>

      <div>
        <p>© 2024 Your Company. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
